---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<section class="section with-background with-cta">
	<header class="section-header stack gap-2 lg:gap-4">
		<h3>Vous songez à travailler avec moi ?</h3>
	</header>

	<div class="cta">
	<CallToAction href="https://www.linkedin.com/in/brice-marcais/">
		Contactez moi
		<Icon icon="paper-plane-tilt" size="1.2em" />
	</CallToAction>
	</div>

<style>
		.section {
		display: grid;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		width: 100%;
	}
	
	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}
	/* .section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		} */
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		border-top: 1px solid var(--gray-800);
		border-bottom: 1px solid var(--gray-800);
		padding: 5rem 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
		width: 80%,
	}

	h2 {
		font-size: var(--text-xl);
		text-align: center;
		max-width: 15ch;
	}

	@media (min-width: 50em) {
		aside {
			padding: 7.5rem;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		h2 {
			font-size: var(--text-3xl);
			text-align: left;
		}
	}
</style>
